{% if ea.crud.currentAction == 'detail' %}
<table class="table datagrid table-link">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        {% for relance in field.value %}
        {% set url = ea_url().setController('App\\Controller\\Admin\\RelanceCrudController').setAction('detail').setEntityId(relance.id) %}
        <tr data-href="{{ url }}">
            <td>{{ relance.id }}</td>
            <td>{{ relance.dateRelance|date('d/m/Y') }}</td>
            <td>{{ relance.message }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<script src="js/tables.js"></script>