<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Request of Maxime METTEY - CO2M</h1>

    <p>Objet : {{ relance.mail.objet }}{{ relance.facture.id }}</p>
    <p>{{ relance.mail.message }}</p>
</body>

</html>